<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WTKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10605031C87DF990017A469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1BDC3B21CD3477D002318D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1BDC3C01CD347B8002318D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
