<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WTKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WTKitMacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E17BDA1A1DDDC11A00CF5672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E17BDA311DDDC14700CF5672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C0C98A1E07AA51000B8F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C0C99A1E07AB22000B8F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C0C9A71E07AB79000B8F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D21AF51DE04D6D0011F302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
